# Compiled objects and shared libraries
*.o
*.so
*.dll
*.a
*.dylib

# R session / project files
.Rhistory
.RData
.Rproj.user/
*.Rproj

# Built vignette / doc output (source .Rmd is tracked)
inst/doc/
vignettes/*.html
vignettes/*_files/

# OS cruft
.DS_Store

# BiocCheck output
methylclock.BiocCheck/
*.tar.gz
